<app-header></app-header>


<div class="sidebar">
<a routerLink="/admin/analysis" class="active" >Report</a>
  <a routerLink="/admin/dashboard" >Customers</a>
  <a routerLink="/admin/technician" >Technicians</a>
  <a routerLink="/admin/services">Services</a>
  <a routerLink="/admin/workrequest">Work Requests</a>
  <a routerLink="/admin/changepass" >Change Password</a>
</div>

<div class="container mt-4">
  <h3 style="justify-content:center;text-align:center;" class="text-2xl text-blue-800 font-bold mb-10">View Report</h3>
    <div class="flex">
  <div class="w-4/12 card"><button type="button" class="btn btn-primary h-40" routerLink="/admin/technician">Active Technicians <p class="text-white text-7xl font-bold">{{techcount?.count}}</p></button>
  </div>
  <div class="w-4/12 card ml-2"><button type="button" class="btn btn-success h-40" routerLink="/admin/dashboard">Customers <p class="text-white text-7xl font-bold">{{customcount?.count}} </p></button></div>
  <div class="w-4/12 card ml-2"><button type="button" class="btn btn-danger h-40" routerLink="/admin/workrequest">Works Compleated <p class="text-white text-7xl font-bold">{{workcount?.count}}</p></button></div>
  <div class="w-4/12 card ml-2"><button type="button" class="btn btn-warning h-40 text-white" routerLink="/admin/services">Services <p class="text-white text-7xl font-bold">{{servicecount?.count}}</p></button></div>
</div>

</div>


<app-footer></app-footer>