
.image{
  
    object-fit: contain;
    width: 100%;
    overflow: hidden;
  }
  
  .img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
      margin-top: 80px;
      margin-bottom: 80px;
      list-style-type: none;
      padding: 0;
      overflow: hidden;
      background-color:rgb(167, 145, 145);
      color:white;
      display: flex;
      justify-content: center;
    }
  
    .card {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      width:100%;
      height: 400px;
      background-color: #1E90FF;
    }
  
    