<div class="w-full">
<app-header></app-header>
<div class="image">
    <div class="w-full lg:flex md:flex sm:bloc k">
       
        <div class="lg:w-1/2 md:w-1/2 h-full sm:w-full w-full" ><img  class="img-center" src="assets/img/img1.jpg" alt="">
        </div>
            <div class="lg:w-1/2 md:w-1/2 h-auto sm:w-full w-full my-auto">
                <p class="text-white font-bold text-2xl bg-blue-800 px-3 py-8 text-justify my-auto">
                    Many homeowners will say that it is hard to find a reliable, professional home repair person.
                     With nearly 200 locations across the State, you can trust your local.
                     Our team of home improvement professionals to care for your home.
                    There are many reasons why calling us is the best choice for when anything needs to be done at your home.</p>
                    
            </div>
    </div>
</div>


<div class="">
    <div class="bg-black text-center text-white px-3 py-3">
        <p class="text-3xl">Only few steps to follow </p>
    </div>
</div>




<!-- features -->
<div class="">
    <div class="">
        <div class="grid grid-cols-3 mb-5 mt-5">
            <!-- feat1 -->
            <div >
                <img  class="img-center" src="assets/img/s1.png" alt="">
                <h3 style="justify-content:center;text-align:center;" class="font-bold text-2xl">Choose your Service</h3>
            </div>
            <!-- feat2 -->
            <div >
                <img  class="img-center" src="assets/img/s3.png" alt="">
                <h3 style="justify-content:center;text-align:center;" class="font-bold text-2xl">Make work Request</h3>
            </div>
            <!-- feat3 -->
            <div >
                <img  class="img-center" src="assets/img/s4.png" alt="">
                <h3 style="justify-content:center;text-align:center;" class="font-bold text-2xl">Complete Service</h3>
            </div>
        </div>
    </div>
</div>



<div>
    <h2 class="bg-blue-600 text-3xl font-bold text-white px-3 py-4 mt-5 mb-5 text-center">Choose Techncian on the basis of Rating</h2>
</div>


<div class="image">
    <div class="w-full lg:flex md:flex sm:bloc k">
       
        
            <div class="lg:w-1/2 md:w-1/2 h-auto sm:w-full w-full">
                    <p class="text-white font-bold text-2xl bg-blue-800 px-3 py-8 text-justify my-auto">
                        we have a responsive, professional approach to customer service or because we hire quality technicians with an average 10 years’ experience in the field.
                         Maybe it’s because our technicians are accountable to us and to you
                         . Maybe it’s becausewes have a variety of skills for all types of work.
                          We’re the go-to solution for homeowners who need skilled labor and reliability to get things done quickly and correctly.
                         We also guarantee our workmanship.</p>
            </div>
            <div class="lg:w-1/2 md:w-1/2 h-full sm:w-full w-full" ><img  class="img-center" src="assets/img/img2.jpg"  alt="">
            </div>
    </div>
</div>

    
<div>
    <h2 class="text-white font-bold text-3xl bg-blue-800 px-3 py-8 text-center my-auto mb-5 mt-5 " >We will accept your request and send a Technician</h2>
</div>

<div class="image">
    <img  class="img-center"  alt="">
</div>

<div class="image">
    <div class="w-full lg:flex md:flex sm:bloc k">
        <div class="lg:w-1/2 md:w-1/2 h-full sm:w-full w-full" ><img  class="img-center" src="assets/img/img4.jpg"  alt="">
        </div>
        
            <div class="lg:w-1/2 md:w-1/2 h-auto sm:w-full w-full my-auto">
                    <p class="text-white font-bold text-3xl bg-blue-800 px-8 py-8 text-justify rounded-full  ">
                        How We work?
                      </p>

                      <p class="text-blue-800 font-bold text-2xl  px-3 py-8 text-justify ml-5 ">
                        1.Scheduling
                      </p>
                      <p class="text-blue-800 font-bold text-2xl  px-3 py-8 text-justify ml-5">
                        2.Arrival
                      </p>
                      <p class="text-blue-800 font-bold text-2xl  px-3 py-8 text-justify ml-5 ">
                        3.Work
                      </p>
                      <p class="text-blue-800 font-bold text-2xl  px-3 py-8 text-justify ml-5">
                        4.Payment
                      </p>
            </div>
            
    </div>
</div>



<app-footer></app-footer>
</div>