<ul class="w-full py-2">
    <li><a routerLink="/home" >Home</a></li>
    <li><a routerLink="/contact" >Contact</a></li>
    <li><a routerLink="/about" >About</a></li>
    <li *ngIf="!loggedin()" class="cursor-pointer" ><a routerLink="/login">Login</a></li>
    <li *ngIf="!loggedin()" class="cursor-pointer" ><a routerLink="/register">Register</a></li>
    <li *ngIf="loggedin()"  class="cursor-pointer"><a (click)="dashboard()" >Dashboard</a></li>
    <li *ngIf="loggedin()"  class="cursor-pointer"><a (click)="logout()" >Logout</a></li>
  
</ul>
  