<app-header></app-header>

<div class="w-full px-10 py-10">
        <div class="border-2 border-black">
            
            <h1 class="text-white rounded-full text-3xl bg-blue-600 my-9 mx-3 px-3 py-3 text-center">The Safe, Guaranteed Solution to Your Home Repair and Maintenance Needs</h1>

                <h2  class="text-black text-2xl py-2 px-3 text-justify">
                    This webapplication is build by Immanual Jose.I made this application to learn Angular.
                     This webapplication helps user to request services like painting, plumbing, carpentry, cleaning etc. 
                     
                        This is your one-call solution for a wide range of home maintenance and repair needs.
                         Our uniformed technicians are fully insured professionals. We arrive on time in uniform and a marked van with the tools to complete the job right.    
                        Our technicians are highly skilled craftsmen with an average of 10 years’ experience in the trades.
                         We’re home repair and improvement experts, and we are known for the quality of our workmanship and professional reliability so you know the job will be done correctly and efficiently.
                        </h2>

                         <h1 class="text-white rounded-full text-3xl bg-blue-600 my-9 mx-3 px-3 py-3 text-center"> Here are a few reasons why our customers recommend us to their friends.</h1>
                         <h2  class="text-black text-2xl py-2 px-3 text-justify">
                            1.On time arrival
                        </h2>
                        <h2  class="text-black text-2xl py-2 px-3 text-justify">
                            2.Job is done right the first time
                        </h2>
                        <h2  class="text-black text-2xl py-2 px-3 text-justify">
                            3.Wide variety of repair, maintenance and improvements services
                        </h2>
                        <h2  class="text-black text-2xl py-2 px-3 text-justify">
                           4.Technicians have experiences and are fully insured for your safety
                        </h2>
                        <h2  class="text-black text-2xl py-2 px-3 text-justify">
                            5.We promise to clean up when we’re done
                        </h2>
                        <h2  class="text-black text-2xl py-2 px-3 text-justify">
                            6.Our quality workmanship is guaranteed
                        </h2>    
        </div>
</div>

<app-footer></app-footer>