<app-header></app-header>

<div class="sidebar">
    <a routerLink="/customer/workrequest" >New Work Request</a>
    <a routerLink="/customer/status">Acceptance</a>
    <a routerLink="/customer/address">Address</a>
    <a routerLink="/customer/notcompleted" class="active">Incompleted</a>
    <a routerLink="/customer/history">Completed/Rating</a>
    <a routerLink="/customer/changepassword">Change Password</a>
    <a routerLink="/customer/findtechnician">Find Technician</a>
</div>


<div class="container mt-4">
    <h3 style="justify-content:center;text-align:center;" class="font-bold text-xl mt-10 mb-5">Incompleted</h3>
        
    <table class="table">
      
      <thead>
        <tr>
          <th scope="col">Service</th>
          <th scope="col">Date</th>
          <th scope="col">Slot</th>
          <th scope="col">Accepted</th>
          <th scope="col">Workstatus</th>
          <th scope="col">Cost</th>
          <th scope="col">Payed</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of allwork | orderBy: key: reverse |paginate : {itemsPerPage:4,currentPage:p}">
        <tr>
     
          <td>{{item.service}}</td>
          <td>{{item.date | date:'mediumDate'}}</td>
          <td>{{item.slot}}</td>
          <td>{{item.accepted}}</td>
          <td>{{item.workstatus}}</td>
          <td>{{item.cost}}</td>
          <td>{{item.payed}}</td>
          <td>{{item.rating}}</td>
        </tr>
      </tbody>
      
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  

<app-footer></app-footer>